@model DigitalArtefactManager.Models.Article

@{
    ViewBag.Title = "ReadArticles";
}
<link href="~/Content/Main.css" rel="stylesheet" />
<h2>Read Article</h2>
<p>
    @Html.ActionLink("Back to List", "IndexEmployee")
</p>
<div>
    <table class="table" style="width:600px; text-align:justify">
        <tr>
            <th>
                @Html.DisplayFor(model => model.Title)
            </th>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Body)
                </td></tr>

    </table>
  
</div>


<br /><br />
<p>
    @Html.DisplayNameFor(model => model.publisher) :
   <b>@Html.DisplayFor(model => model.publisher)</b> 
    &nbsp;&nbsp;
@Html.DisplayNameFor(model => model.publishDate) :
<b>@Html.DisplayFor(model => model.publishDate)</b>
</p>
<p>
    
</p>

<p>
    <input type="image" height="30" width="30" src="~/Content/Images/likes.png" title="Like" class="btnLike" value="Like" data-id="@Model.ArticleId"  id="btnLike" onclick="" />

</p>
<div id="divComment">
    @Html.TextArea("txtComment", new { @class = "textArea" })
    <input class="btnSubmit" type="button" data-id="@Model.ArticleId" id="btnSubmit" value="Post" onclick=""/>
</div>


<div id="render">
</div>

<br />
<br />
<br />
<div>
    @Html.ActionLink("Logout", "Login", "Login")
</div>


@section Scripts
{
    <script>
        //Function to hide Like Icon
        function display() {
            $('.btnLike').css("display", "none");
        }
 </script>

 <script type="text/javascript">
        $(document).ready(function () {

            //Show comments on page load
            $("#render").load('@Url.Action("Comments", "Comments",new { Aid=Model.ArticleId})');


            //Submit/post comment on Post button click
            $('.btnSubmit').click(function () {
                var AId = $(this).data('id');
                var comment = $("#txtComment").val();
                $.ajax({
                    url: "@Url.Action("PostComment", "Comments")",
                    type: "POST",
                    data: { Aid: AId, comments:comment},
                    cache: false,
                    async: true,
                    success: function (data) {
                                    $("#txtComment").val("");
                                    alert('Comment posted !');
                                    $("#render").load('@Url.Action("Comments", "Comments",new { Aid=Model.ArticleId})');
                    }
                });
            });

            //Check if total like count for the logged in user is equal to or more than 5
            var val = parseInt(@ViewBag.likeCount);
            if (val >= 5) {
                display();
            }

            //Submit Like for an article on Like icon click
            $('.btnLike').click(function () {
                var AId = $(this).data('id');
                $.ajax({
                    url: "@Url.Action("Like", "Articles")",
                    type: "POST",
                    data: { id: AId, status: true },
                    cache: false,
                    async: true,
                    success: function (data) {
                        if (data < 5) {
                            alert("You liked the article '" + data + "' time(s)");
                        }
                        else {
                            //Make the Like icon invisible on reaching limits (5 likes)
                            display();
                            alert("Sorry, you have reached the like limits.'" + data + "' times");
                        }
                    }
                });
            });


        });
    </script>
}





















